body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #cce6ff;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 15px;
}

.subject {
  margin-bottom: 30px;
  background: white;
  border-radius: 8px;
  padding: 10px;
}

.subject h2 {
  color: #004080;
  margin-bottom: 10px;
  font-size: 20px;
}

.teacher-block h3 {
  cursor: pointer;
  color: #0066cc;
  font-size: 18px;
}

.topics {
  display: none;
  padding-left: 15px;
}

.topics li {
  margin: 8px 0;
}

.topics li span {
  cursor: pointer;
  color: #009933;
  font-weight: bold;
}

.days {
  display: none;
  padding-left: 20px;
}

iframe {
  width: 100%;
  height: 250px;
  margin-top: 10px;
  border: none;
}

button {
  margin: 5px 5px 10px 0;
  padding: 8px 12px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  background-color: #004080;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0066cc;
}

@media screen and (max-width: 600px) {
  .teacher-block h3 {
    font-size: 16px;
  }

  .subject h2 {
    font-size: 18px;
  }

  iframe {
    height: 200px;
  }

  button {
    font-size: 13px;
    padding: 6px 10px;
  }
}
